body {
  background-color: #6E5C62;
  color: whitesmoke;
}

input {
  color: black;
  text-align: center;
  text-transform:uppercase;
  font-size: large;
  height: 40px;
  border-radius: 5px;
  padding: 0px 15px;
  width: 150px;
  margin: 5px;
}

button {
  background: whitesmoke;
  color: black;
  height: 40px;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px;
  width: 100px;

}

h1 {
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
}

h2 {
  font-size: large;
  font-weight: bold;
  padding-left: 30px;
}

h3 {
  padding-left: 30px;
}

ul {
  column-count: 3;
  list-style: none;
}

li {
  padding: 0px 0px 5px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.wordInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wordInput-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
}

.wordInput-respostas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background-color: #615458;
  color: #FAFAFF;
}

.cell-green {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #3AA394;
  color: #FAFAFF;
}

.cell-black {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #312A2C;
  color: #FAFAFF;

}
.cell-yellow {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #D3AD69;
  color: #FAFAFF;
}