body {
  background-color: grey;
  color: whitesmoke;
}

input {
  color: black;
  text-align: center;
  text-transform:uppercase;
  font-size: large;
  height: 40px;
  border-radius: 5px;
  padding: 0px 15px;
  width: 80%;
  margin: 5px;
}

button {
  background: whitesmoke;
  color: black;
  height: 40px;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px;
  width: 30%;

}

h1 {
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wordInput {
  display: flex;
  justify-content: center;
  align-items: center;

}

.row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid #504e4e;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.cell-green {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid #504e4e;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #5ac85a;
  border-color: #5ac85a;
}

.cell-black {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid #504e4e;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #1b1a1a;
  border-color: #a1a1a1;
  color: whitesmoke;
}
.cell-yellow {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid #504e4e;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #e2cc68;
  border-color: #e2cc68;
}